<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Elevators Movements</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <h1>Elevators movements reports</h1>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>Call Time</th>
                    <th>Elevator</th>
                    <th>Sequence</th>
                </tr>
            </thead>
            <tbody>
                {% for movement in movements %}
                    <tr>
                        <td>{{ movement.call_time }}</td>
                        <td>{{ movement.name }}</td>
                        <td>{{ movement.sequence }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>